.m-t {
  margin-top: 5%;
}
.m-b {
  margin-bottom: 5%;
}
.m-r {
  margin-right: 5%;
}
.m-l {
  margin-left: 5%;
}
.m-1 {
  margin: 1% 0;
}
.m-2 {
  margin: 2% 0;
}
.p-t {
  padding-top: 5%;
}
.p-b {
  padding-bottom: 5%;
}
.p-r {
  padding-right: 5%;
}
.p-l {
  padding-left: 5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 0 0 30%;
}
.main-header {
  margin-top: 5%;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  color: #fff;
}
.main-header h1 {
  font-size: 5rem;
  font-weight: 800;
}
.main-header p {
  margin: 1% 0;
  font-size: 20px;
}
.aside-section {
  width: 20%;
  height: 110%;
  background: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  position: absolute;
  top: 0;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-section .navbar {
  width: 100%;
}
.aside-section .navbar .logo {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.aside-section .navbar ul {
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.aside-section .navbar li {
  padding-top: 5%;
  padding-bottom: 5%;
}
.aside-section .navbar li:hover {
  background: #ccc;
  border: none;
}
.aside-section .navbar a {
  color: #fff;
  text-decoration: none;
}
.aside-section img {
  margin-top: 5%;
  width: 50%;
  border-radius: 50%;
}
.aside-section .contact-content {
  width: 100%;
  padding: 5%;
}
.aside-section .contact-content h1 {
  font-size: 2rem;
  color: #fff;
  border-bottom: #fff solid 2px;
  padding-bottom: 5%;
}
.aside-section .contact-content a {
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
}
.aside-section .contact-content a:hover {
  opacity: 0.5;
}
.aside-section .aside-social {
  width: 100%;
  padding: 5%;
}
.aside-section .aside-social h1 {
  font-size: 2rem;
  color: #fff;
  border-bottom: #fff solid 2px;
  padding-bottom: 5%;
}
.aside-section .aside-social a {
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
}
.aside-section .aside-social .icon {
  display: flex;
  padding: 2% 5%;
}
.aside-section .aside-social a {
  margin-right: 5%;
}
.aside-section footer {
  margin-top: 5%;
}
.aside-section footer p {
  color: #fff;
}
.main-section {
  margin-top: 5%;
  display: flex;
}
.main-section .box {
  width: 50%;
  margin: 0 2%;
  background: #ccc;
}
.main-section .box h1 {
  background: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  padding: 5% 0;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.main-section .box p {
  margin: 2% 0;
  padding: 5%;
}
.main-section .box-border h2 {
  font-size: 20px;
  margin-top: 5%;
  padding: 1% 5%;
}
.main-section .box-border .border {
  border-bottom: 1px solid #333;
}
